main {
    .view {
        padding: 4rem var(--main-horizontal-padding);
    }
}

.live-batch-popup {
    position: fixed;
    backdrop-filter: blur(2px);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 112;
    background-color: rgba(28, 28, 28, 0.467);
    
    .box {
        background-image: url('https://ik.imagekit.io/sheryians/Mask%20group_k6n-RlxAm.png?updatedAt=1740909390668');
        background-color: #f4f2ff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 30rem; 
        height: 30rem;
        padding: 4.5rem 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;

        .cancel {
            position: absolute;
            top: 12px;
            color: black;
            right: 16px;
            font-size: 24px;
            cursor: pointer;
            z-index: 10;
        }
        
        .gift-icon {
            color: #ff1493;
            font-size: 2rem;
        }
        
        .content h1 {
            color: black;
            font-size: 1.8rem;
            font-weight: 600;
        }
        
        p {
            font-size: 1.08rem;
            color: #787878;
        }
        
        h6 {
            font-size: 0.8rem;
            margin-top: 2.3rem;;
            font-weight: 500;
            color: #787878;
        }
        .parentDiv{
            margin: auto;
            width: fit-content;
            position: relative;
            .copy{
                position: absolute;
                top: -30%;
                left: 50%;
                transform: translateX(-50%) translateY(-10px);
                background-color: #000;
                color: #fff;
                padding: 6px 12px;
                font-size: 0.85em;
                border-radius: 5px;
                white-space: nowrap;
                opacity: 0;
                width: 10rem;
                transition:0.25s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                p{
                    color: white;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateY(28px) translateX(-50%) rotate(180deg);
                    border-width: 6px;
                    border-style: solid;
                    border-color: transparent transparent var(--arrow-color, #000) transparent;
                    z-index: -1; /* Push the arrow behind the coupon */
                }

            }
            
            &:hover .copy {
                top:-40%;
                opacity: 1;  
            }
            &:active .coupon{
                scale: 0.95; 
            }
          
        }
        .coupon {
            background-color: #f4f2ff;
            position: relative;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            font-size: 16px;
            padding: 1.1rem 2.8rem;
            width: fit-content;
            margin-top: 0.65rem;
            height: 6rem;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2300000030' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");  
            cursor: pointer;
            transition: 0.1s;
            z-index: 2; /* Ensuring the coupon is above */
        
            /* Popup Bubble */
            /* Coupon Text */
            p {
                font-size: 1.25rem;
                color: rgb(134, 134, 134);
                margin-bottom: 0.4rem;
            }
            span {
                font-size: 1.3rem;
                font-weight: 600;
                color: black;
                letter-spacing: 4px;
            }
        }
        
        .redeem {
            display: block;
            margin: 3.2rem auto 0;
            padding: 0.7rem 5rem;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            background-color: #24cfa6;
            color: rgb(0, 0, 0);
            border: none;
            cursor: pointer;
        }
    }
}
@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .live-batch-popup {
        .box{
            border-radius: 2px;
            width: 25rem;
            height: 31rem;
            background-size: cover;
            background-image: url('https://ik.imagekit.io/sheryians/Mask%20group%20resp_s2KdS4zbc.png?updatedAt=1740909390709');
            padding: 4.5rem 1rem;

            .content {
                h1 {
                    font-size: 1.7rem;
                }
                p{
                    font-size: 0.8rem;
                }
            }
            h6{
                margin-top: 2.7rem;
            }
            .parentDiv{
                .copy{
                    p{
                        color: white;
                        font-size: 1.3em;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateY(23px) translateX(-50%) rotate(180deg);
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent transparent var(--arrow-color, #000) transparent;
                        z-index: -1; /* Push the arrow behind the coupon */
                    }

                }
                .coupon{
                    height: 6rem;
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2300000030' stroke-width='2' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");  
                    p{
                        font-size: 1.3rem;
                        margin-bottom: 0;
                    }
                    span{
                        letter-spacing: 2px;
                    }
                }
            }
            .redeem{
                font-size: 1.3rem;
            }

        }
    }
}

#view1 {
    padding-top: 14rem;


    .text {

        font-size: 1rem;

        h1 {
            font-size: 5.5em;

            span {
                font-family: 'NeueMachina';
                font-weight: 300;
                letter-spacing: -0.02em;
            }

            line-height: 1.1em;
            margin-bottom: 0.6em;

        }

        p {
            font-size: 2.45em;
            letter-spacing: -0.04em;
        }
    }

    @media (max-width:600px) {
        .text {
            text-align: center;

            h1 {
                margin-bottom: 0.5em;
                line-height: 0.95em;
                font-size: 4em;


                br {
                    display: none;
                }
            }

            p {
                font-size: 1.6em;
            }
        }
    }

}

#view2 {

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .top {


        h1 {

            font-size: 1rem;

            span {
                font-size: 1.7em;
                font-weight: 300;
            }

            svg {
                height: 1.2em;
                width: 1.2em;
                margin-left: 0.7em;
            }
        }
    }



    .bottom {
        .courses {
            display: grid;
            gap: 2rem;
            row-gap: 7rem;
            // align-items: stretch;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));





            .course-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                flex: 1 0 25rem;
                position: relative;

                .combo{
                    z-index: 3;
                    right: 0;
                    overflow: hidden;
                    width: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10rem;
                    pointer-events: none;
                    // background-color: red;
                    position: absolute;

                    span{
                        position: absolute;
                        text-align: center;
                        width: 20rem;
                        font-weight: 500;
                        font-size: 1rem;
                        padding: 0.1rem 0;
                        transform: rotate(45deg) translateY(-50px);
                        color: rgb(255, 255, 255);
                        background-color: rgb(0, 181, 48);
                    }
                }


                .course { 
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    --border-radius: 1rem;
                    --body-padding: 1.8rem;
                    --body-padding-vertical: 2rem;
                    width: 100%;
                    text-decoration: none;




                    border-radius: var(--border-radius);

                    background-color: var(--ui-element-secondary-color);

                    .course-image {
                        aspect-ratio: 16/9;
                        border-radius: var(--border-radius);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        overflow: hidden;
                        width: 100%;
                        position: relative;

                        img {
                            height: 100%;
                            width: 100%;
                        }


                        .sub-tags {
                            position: absolute;
                            top: 0.8em;
                            right: 0.75em;


                            .sub-tag {
                                background-color: var(--mercury);
                                color: var(--black);
                                padding: 0.4em 1.3em;
                                border-radius: 0.45em;
                                text-transform: uppercase;
                                font-size: 0.65rem;
                                font-weight: 800;
                            }

                        }

                    }

                    .course-body {
                        flex: 1 0 auto;
    
                        padding: var(--body-padding-vertical) var(--body-padding);
                        padding-right: calc(var(--body-padding) - 0.2em);
                        border-radius: 0.8rem;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
    
                        flex-grow: 1;
                        letter-spacing: 0.02em;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .top{
                            margin-bottom: 3rem;
                            h2 {
                                display: flex;
                                flex-wrap: nowrap;
                                align-items: center;
                                font-size: 1.6em;
                                justify-content: left;
                                font-weight: 400;
                                margin-bottom: 0.7rem;

                                span{
                                    font-size: 0.9rem;
                                    background-color: var(--ui-element-secondary-color);
                                    color: white;
                                }
                            }
                            .tags{
                                display: flex;
                                gap: 1rem;
                                .live{
                                    color: white;
                                    font-size: 1.1em;
                                    width: fit-content;
                                    border-radius: 4px;
                                    text-transform: uppercase;
                                    padding: 0.3rem 0.8rem;
                                    background-color: var(--error-color);
                                }
                                p{
                                    font-size: 1.1em;
                                    width: fit-content;
                                    border-radius: 4px;
                                    text-transform: uppercase;
                                    padding: 0.3rem 0.8rem;
                                    background-color: var(--ui-element-color)
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            .left{
                                span{
                                    color: var(--accent-color);
                                    font-size: 1.1rem;
                                    font-weight: 300;
                                }
                                div{
                                    display: flex;
                                    gap: 1.5rem;
                                    align-items: center;
                                    p{
                                        font-size: 1.7rem;
                                    }
                                    small{
                                        font-size: 1.3rem;
                                        text-decoration: line-through;
                                        color: var(--boulder);
                                    }
                                    strong{
                                        margin-left: -1rem;
                                        font-weight: 400;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                            .right{
                                div{
                                    margin-bottom: 0.5rem;
                                    background-color: white;
                                    color: black;
                                    font-size: 0.9rem;
                                    padding: 0.3rem 0.7rem;
                                    font-weight: 500;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
    

                    // .course-body {
                    //     flex: 1 0 auto;

                    //     padding: var(--body-padding-vertical) var(--body-padding);
                    //     padding-right: calc(var(--body-padding) - 0.2em);
                    //     border-radius: 0.8rem;
                    //     border-top-left-radius: 0;
                    //     border-top-right-radius: 0;

                    //     flex-grow: 1;
                    //     letter-spacing: 0.02em;


                    //     h2 {
                    //         display: flex;
                    //         flex-wrap: nowrap;
                    //         align-items: center;
                    //         font-size: 1.6em;
                    //         justify-content: left;
                    //         font-weight: 400;
                    //         margin-bottom: 0.7rem;
                    //     }
                    //     span{
                    //         background-color: crimson;
                    //         font-size: 0.9rem;
                    //         white-space: nowrap;
                    //         font-weight: 700;
                    //         margin-left: 1rem;
                    //         border-radius: 3px;
                    //         padding: 0.2rem 1rem;
                    //     }

                    //     p {
                    //         font-size: 1em;
                    //         font-weight: 300;
                    //         color: var(--boulder);
                    //         line-height: 1.5em;

                    //         display: -webkit-box;
                    //         -webkit-line-clamp: 2;
                    //         -webkit-box-orient: vertical;
                    //         overflow: hidden;
                    //         text-overflow: ellipsis;


                    //     }
                    // }

                    // .course-body-tags {
                    //     padding: var(--body-padding);
                    //     display: flex;
                    //     flex-direction: column;
                    //     padding-top: 1.5rem;
                    //     position: relative;



                    //     .devider {
                    //         width: 95%;
                    //         height: 0.05em;
                    //         background-color: var(--fuscous-gray);
                    //         position: absolute;
                    //         top: 0%;
                    //         transform: translateX(-50%);
                    //         left: 50%;
                    //     }

                    //     .tags {

                    //         gap: 1rem;
                    //         flex-wrap: wrap;
                    //         display: flex;

                    //         .tag {
                    //             background-color: var(--ui-element-highlight-color);
                    //             padding: 0.7rem 1rem;
                    //             display: flex;
                    //             justify-content: center;
                    //             align-items: center;
                    //             width: fit-content;
                    //             border-radius: 0.45rem;
                    //             color: var(--text-color);
                    //             white-space: nowrap;
                    //             width: fit-content;
                    //             font-size: 1em;

                    //         }

                    //     }
                    // }

                    // .course-instructor {
                    //     padding: calc(var(--body-padding-vertical) - 0.8em) var(--body-padding);
                    //     display: flex;
                    //     align-items: center;
                    //     justify-content: space-between;
                    //     margin-bottom: 2rem;
                    //     background-color: var(--ui-element-highlight-color);

                    //     p {
                    //         display: flex;
                    //         color: var(--boulder);
                    //         align-items: center ;
                    //         gap: 0.4rem;
                    //         &>span {
                    //             color: var(--text-color);
                    //         }
                    //     }

                    //     span {
                    //         font-size: 1.2em;
                    //         color: var(--text-color);
                    //     }


                    // }

                }

                &.commingSoon {
                    .course-image {
                        position: relative;

                        &::after {
                            content: "Coming soon";
                            background-color: rgba(24, 24, 24, 0.7);
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: var(--Wild-Sand);
                            font-size: 1.6em;
                            font-family: "NeueMachina";
                        }
                    }
                }

                .buy-now {
                    width: 100%;
                    font-size: 1.7rem;
                    font-weight: 600;
                    padding-top: 0.4em;
                    padding-bottom: 0.4em;
                }


            }
        }


    }

    @media (max-width:600px) {
        .top {
            h1 {
                text-align: center;
                font-size: 1em;
            }
        }

        .bottom {
            padding: 0 0;

            .courses {
                padding: 0 var(--main-horizontal-padding);
                display: flex;
                flex-direction: column;


                .course-wrapper {
                    flex: 0 0 89%;
                    scroll-snap-align: center;


                    .course {
                        font-size: 1.1rem;

                        .course-body {

                            h2 {
                                font-size: 1.4em;
                            }

                            p {
                                font-size: 1em;
                            }
                        }

                        .course-body-tags {
                            .tags {
                                .tag {
                                    font-size: 1.2em;
                                }
                            }
                        }

                        .course-instructor {
                            padding: 1em;
                            margin-bottom: 2em;

                            p {
                                font-size: 0.9em;
                            }

                            span {
                                font-size: 1.3em;
                            }
                        }
                    }


                    .buy-now {
                        padding-top: 0.6em;
                        padding-bottom: 0.6em;
                        font-size: 1.4em;
                    }
                }

            }
        }

    }
}